/Enums.xcodeproj/project.xcworkspace/xcuserdata/fernandoolivares.xcuserdatad/UserInterfaceState.xcuserstate
/Enums.xcodeproj/project.xcworkspace/contents.xcworkspacedata
/Networking-Take-Home-Interview.xcodeproj/project.xcworkspace/contents.xcworkspacedata
/Networking-Take-Home-Interview.xcodeproj/project.xcworkspace/xcuserdata/fernandoolivares.xcuserdatad/UserInterfaceState.xcuserstate
/Networking-Take-Home-Interview.xcodeproj/xcshareddata/xcschemes/Enums.xcscheme
/Networking-Take-Home-Interview.xcodeproj/xcuserdata/fernandoolivares.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
